
<h1 class="text-center mt-5">Result</h1>
<p class="text-center mt-5"><%= @result %></p>
<p class="text-center mt-5"> Your total score is : <%= session[:score] %></p>
<p class="text-center mt-5 "><%= link_to "Play again", new_path %></p>
